# services:
#   web:
#     image: my-portfolio:latest
#     # build: .
#       # context: .
#     ports:
#       - "8000:8000"
#     volumes:
#       # - ./:/app
#       - ./merged_app:/app
#       # - ./instance:/app/instance 
#     deploy:
#       restart_policy:
#         condition: any

#   updater:
#     image: my-portfolio:latest
#     # build: .
#       # context: .
#     command: ["tail", "-f", "/dev/null"]
#     volumes:
#       # - ./:/app
#       - ./merged_app:/app
#       # - ./instance:/app/instance 
#     deploy:
#       restart_policy:
#         condition: any

# test code
services:
  web:
    build:
      context: .
    # build: .
    ports:
      - "80:8000"
    volumes:
      - ./merged_app:/app
      # - ./instance:/app/instance 
    deploy:
      restart_policy:
        condition: any

  updater:
    build:
      context: .
    # build: .
    command: ["tail", "-f", "/dev/null"]
    volumes:
      - ./merged_app:/app
      # - ./instance:/app/instance 
    deploy:
      restart_policy:
        condition: any